<br/>
<div class ="booyah-box col-10 offset-1">
	 <h1 class="text-center"><%= @current_course.title %></h1>
     <img src="<%= @current_course.image.url %>">
	 <br />
	 <%= link_to 'Preview as student', course_path(current_course), class: 'btn btn-warning float-right' %> 
	 <div class= "text-center">
	 	<br class="clr" />
	 	<%= link_to 'Add new section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-large' %>
	 </div>
	  <ul>
    <% current_course.sections.each do |section| %>
      <li>
        <%= section.title %>
        <%= link_to 'New lesson', new_instructor_section_lesson_path(current_course), class: 'float-right btn btn-primary btn-sm' %> 
        <ul>
        	<% section.lessons.each do |lesson|%>
        	<li>
        		<b> <%= lesson.title %></b>

        			-
        			<%= lesson.subtitle %>
        		</li>
        	<% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>
	</div>